<c-modal-header>
    <h5 cModalTitle>Edit</h5>
</c-modal-header>
<c-modal-body>
    <form [formGroup]="form" novalidate (submit)="onSave()">
        <div class="form-group">
            <label cLabel>Title</label>
            <input cFormControl name="name" formControlName="title" />
            <div *ngIf="formControl['title'].errors">
                <c-form-feedback class="d-block"
                    *ngIf="formControl['title'].errors['required'] && formControl['title'].touched" [valid]="false">
                    Title is required.
                </c-form-feedback>
            </div>
            <c-form-feedback class="d-block" *ngIf="validationErrors['title']" [valid]="false">
                {{ validationErrors['title'] }}
            </c-form-feedback>
        </div>
        <div class="form-group mt-3">
            <label cLabel for="documents">Documents</label>
            <ng-multiselect-dropdown formControlName="documents" id="documents" [placeholder]="'Select'"
                [settings]="multiselectDocumentDropdownSettings" [data]="current_filters.documents"
                (onFilterChange)="onFilterChange($event)">
            </ng-multiselect-dropdown>
        </div>
        <div class="form-group mt-3">
            <button type="submit" cButton color="primary" [disabled]="form.invalid">
                Save
            </button>
        </div>
    </form>
</c-modal-body>