<form [formGroup]="form" novalidate (ngSubmit)="onSave()">
    <div class="form-group">
        <label cLabel="">Prompt</label>
        <c-row>
            <c-col>
                <input cFormControl class="form-control" name="prompt" formControlName="prompt" />
            </c-col>
            <c-col>

            </c-col>
        </c-row>
        <div *ngIf="formControl['prompt'].errors">
            <c-form-feedback class="d-block"
                *ngIf="formControl['prompt'].errors['required'] && formControl['prompt'].touched"
                [valid]="false">
                Prompt is required.
            </c-form-feedback>
        </div>
    </div>
    <div class="mt-3" formArrayName="answers">
        <div class="form-group" *ngFor="let answer of questionAnswers['controls']; let i = index">
            <div [formGroupName]="i">
                <label for="answerContent{{ i }}" cLabel="col">Content</label>
                <c-row>
                    <c-col>
                        <input type="text" cFormControl [id]="'answerContent' + i" formControlName="content">
                    </c-col>
                    <c-col>
                        <c-form-check>
                            <input cFormCheckInput [id]="'correctAnswer' + i" formControlName="correct"
                                type="checkbox" />
                            <label cFormCheckLabel for="correctAnswer{{ i }}">Correct</label>
                        </c-form-check>
                    </c-col>
                    <c-col>
                        <button type="button" cButton color="danger" (click)="onRemoveQuestionAnswer(i)">Remove</button>
                    </c-col>
                </c-row>
            </div>
        </div>
    </div>
    <div class="form-group mt-3">
        <button cButton color="default" type="button" class="mr-4" (click)="addAnswer()">
            Add Answer
        </button>
        <button cButton color="primary" type="submit" [disabled]="form.invalid">
            Save Question
        </button>
    </div>
</form>