<c-row>
    <c-col xs>
        <c-card class="mb-4">
            <c-card-header>User Results</c-card-header>
            <c-card-body>
                <!-- <app-smart-table1 [data]="data" [pageSizeOptions]="pageSizeOptions" [pageSize]="filterParams.page_size"
                    [totalPages]="totalPages" [page]="filterParams.page" (sortChanged)="onSortChange($event)"
                    (filterChanged)="onFilterChange($event)" (pageChanged)="onPageChange($event)"
                    (pageSizeChanged)="onPageSizeChange($event)" [useCreateAction]="false" [useActions]="true"
                    (editOpened)="onEdit($event)">
                    <ng-template columnDef="id" columnLabel="Id." #headerCellDef let-item>
                        <td>{{ item.id }}</td>
                    </ng-template>
                    <ng-template columnDef="score" columnLabel="Score." #headerCellDef let-item>
                        <td>{{ item.score }}</td>
                    </ng-template>
                    <ng-template columnDef="user" columnLabel="User." #headerCellDef let-item>
                        <td>{{ item.user ? item.user.username : '' }}</td>
                    </ng-template>
                    <ng-template columnDef="created_at" columnLabel="Created At." #headerCellDef let-item>
                        <td>{{ item.created_at }}</td>
                    </ng-template>
                    <ng-template columnDef="created_at" columnLabel="Updated At." #headerCellDef let-item>
                        <td>{{ item.updated_at }}</td>
                    </ng-template>
                </app-smart-table1> -->
            </c-card-body>
        </c-card>
    </c-col>
</c-row>