@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

.pulse {
  animation: pulse 1.7s infinite;
}

.microphone-button {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  background-color: #4285f4;
  color: #fff;
  cursor: pointer;
  outline: none;
  position: relative;
}

.microphone-button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}